<script src="static/js/libs/jquery.slim.min.js"></script>
<script src="static/js/libs/jquery.inputmask.min.js"></script>
<script src="static/js/libs/jquery.fancybox.js"></script>
<script src="static/js/libs/swiper.min.js"></script>
<script src="static/js/libs/aos.js"></script>
<script src="static/js/libs/PNotify.js"></script>
<script src="static/js/libs/jquery.ba-throttle-debounce.min.js"></script>
<script src="static/js/libs/jquery.cookie.js"></script>
<script src="static/js/libs/tilt.jquery.min.js"></script>
<script src="static/js/libs/cocoen.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/special.js"></script>
@@if (game === true) {
	<script src="static/js/game.js"></script>
}
@@if (gala === true) {
	<script src="static/js/galashow.js"></script>
}
@@if (sunsets === true) {
	<script src="static/js/libs/player.js"></script>
	<script src="static/js/libs/plyr.polyfilled.js"></script>
	<script src="static/js/game.js"></script>
	<script src="static/js/eventpass-new.js"></script>
	<script src="static/js/sunsets.js"></script>	
}
@@if (ny === true) {
	<script src="static/js/libs/player.js"></script>
	<script src="static/js/libs/plyr.polyfilled.js"></script>
	<script src="static/js/game.js"></script>
	<script src="static/js/newYearCapital.js"></script>
	<script src="static/js/newYearMap.js"></script>
}
<script src="static/js/scripts.min.js"></script>