<script src="static/js/libs/jquery.slim.min.js"></script>
<script src="static/js/libs/jquery.inputmask.min.js"></script>
<script src="static/js/libs/jquery.fancybox.js"></script>
<script src="static/js/libs/swiper.min.js"></script>
<script src="static/js/libs/aos.js"></script>
<script src="static/js/libs/PNotify.js"></script>
<script src="static/js/libs/jquery.ba-throttle-debounce.min.js"></script>
<script src="static/js/libs/jquery.cookie.js"></script>
<script src="static/js/libs/tilt.jquery.min.js"></script>
<script src="static/js/libs/cocoen.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/special.js"></script>
@@if (video === true) {
	<script src="static/js/allvideos.js"></script>
}
@@if (eco === true) {
	<script src="static/js/ecostartMap.js"></script>
	<script src="static/js/ecostart.js"></script>
}
<script src="static/js/scripts.min.js"></script>